<link rel="stylesheet" href="styles/contact.css" />
<section class="contact" id="contact">
  <div class="call-to-action ascale">
    <h2>Book our space</h2>
    <!--<p class="contact-tag"> $200/hour (3 hr Min) <br> One-time $100 cleaning fee </p>-->
    <ul>  
      <li>Versatile Spaces - Tailored to your specific needs, from intimate to large scale events.</li>
      <li>Captivating Atmosphere - Elegance combined with functionality to create the perfect backdrop for any occasion.</li>
      <li>Top-Notch Amenities - Professional audiovisual equipment, high-speed internet, comfortable seating, and ample parking.</li>
      <li>Professional Event Planning - Bring your vision to life!</li>
      <li>Prime Location - With nearby hotels, restaurants, and attractions, your attendees will have everything they need at their fingertips.</li>
      <li>Check out our <a href="https://arthurmurraypittsburgheast.com/rent-our-space">Pittsburgh East</a> and <a href="https://arthurmurraypittsburghwest.com/rent-our-space">Pittsburgh West</a> locations!</li>
  </ul>
  </div>
  <form
    name="rentContact"
    method="POST"
    id="contactForm"
    action="./thank-you-rent.html"
    class="form"
    netlify-honeypot="bot-field"
    data-netlify="true"
  >
    <h2>Inquire today!</h2>
    <fieldset>
      <p class="form-info">Send us some info and we'll get you started.</p>
      <p class="requiredText">
        <small
          >Fields marked with an
          <span class="required" role="presentation"></span>are required</small
        >
      </p>
      <label class="required" for="name"> Name </label>
      <input
        type="text"
        name="name"
        id="name"
        autocomplete="name"
        placeholder="Name"
        class="input"
        aria-required="true"
        required
      />
      <p>Please enter your name.</p>
      <label class="required" for="email"> Email </label>
      <input
        type="email"
        name="email"
        id="email"
        autocomplete="email"
        placeholder="Email"
        class="input"
        aria-required="true"
        required
      />
      <p>Please enter a valid email address.</p>
      <label class="required" for="phone"> Phone </label>
      <input
        type="tel"
        name="phone"
        id="phone"
        autocomplete="tel"
        pattern="^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$"
        placeholder="Phone"
        title="Enter US phone number"
        class="input"
        aria-required="true"
        required
      />
      <p>Please enter a valid phone number.</p>
      <label class="required" for="message">Describe your event...include the date!</label>
      <textarea
        name="message"
        id="message"
        placeholder="Message"
        rows="4"
        aria-required="true"
        required
      ></textarea>
      <label class="required" for="event"> Event Type </label>
      <div class="custom-select">
        <select required id="event" name="event" class="select-css">
          <option value="">--Select an Option--</option>
          <option value="wedding">Wedding</option>
          <option value="birthday">Birthday</option>
          <option value="shower">Shower</option>
          <option value="corporate">Corporate Event</option>
          <option value="other">Other</option>
        </select>
      </div>
      <p class="hidden">
        <label> Don't fill this out if you're human: <input name="bot-field" />
      </p>
      <button type="submit" id="submit" value="submit">Submit</button>
    </fieldset>
  </form>
</section>
