<link rel="stylesheet" href="styles/reviews.css" />
<section class="reviews" id="reviews">
  <h2>More from our clients...</h2>
  <ul class="review-grid">
    <li class="review animation asl">
      <blockquote cite="https://maps.app.goo.gl/gQ4vi9tcKdfHB6U39">
        <footer class="review-cite">
          <a
            href="https://www.google.com/maps/contrib/110129075506816964265/reviews"
            class="gravatar-link"
            aria-label="Go to reviewers profile on Google"
            target="_blank"
            rel="noreferrer"
            ><img
              src="./images/deniseTorpey.jpg"
              alt="Denise Torpey"
              width="41"
              height="41"
              class="gravatar"
              loading="lazy"
          /></a>
          <cite>Denise Torpey</cite>
          <p class="review-date">
            <a
              href="https://maps.app.goo.gl/gQ4vi9tcKdfHB6U39"
              target="_blank"
              aria-label="Go to original review on Google"
              rel="noreferrer"
              >August 21, 2024</a
            >
          </p>
        </footer>
        <a
          href="https://maps.app.goo.gl/gQ4vi9tcKdfHB6U39"
          class="g-logo-link"
          target="_blank"
          aria-label="Go to original review on Google"
          rel="noreferrer"
          ><img
            class="g-logo"
            src="./images/googleLogo.png"
            alt="Google Logo"
            width="23"
            height="23"
        /></a>
        <p class="quote">
          Whether to prepare for a wedding, to competitively dance, or just
          become a decent ballroom dancer (me), Arthur Murray is the best.
          Fantastic high energy instructors and lots of group classes and events
          to help you up your game.
        </p>
      </blockquote>
    </li>
    <li class="review animation asl delay1">
      <blockquote cite="https://maps.app.goo.gl/bcTPXBKHu5JC4PMg8">
        <footer class="review-cite">
          <a
            href="https://www.google.com/maps/contrib/109104752825214400129/reviews"
            aria-label="Go to reviewer's profile on Google"
            class="gravatar-link"
            target="_blank"
            rel="noreferrer"
            ><img
              src="./images/lydiaHumenycky.jpg"
              alt="Lydia Humenycky"
              width="41"
              height="41"
              class="gravatar"
              loading="lazy"
          /></a>
          <cite>Lydia Humenycky</cite>
          <p class="review-date">
            <a
              href="https://maps.app.goo.gl/bcTPXBKHu5JC4PMg8"
              aria-label="Go to original review on Google"
              target="_blank"
              rel="noreferrer"
              >February 21, 2024</a
            >
          </p>
        </footer>
        <a
          href="https://maps.app.goo.gl/bcTPXBKHu5JC4PMg8"
          class="g-logo-link"
          target="_blank"
          aria-label="Go to original review on Google"
          rel="noreferrer"
          ><img
            class="g-logo"
            src="./images/googleLogo.png"
            alt="Google Logo"
            width="23"
            height="23"
        /></a>
        <p class="quote">
          When I walked into the Downtown Pittsburgh Arthur Murray Studio, I had
          no idea that such a small step would have such a large impact on my
          life. I can truly say I have found new joy because of the decision to
          explore dance. Arthur Murray is a wonderful, supportive and talented
          community of people. A special shout out to the amazing instructors
          that have made my experience so fantastic...Thank you for all you do!
        </p>
      </blockquote>
    </li>
    <li class="review animation asl delay2">
      <blockquote cite="https://maps.app.goo.gl/9qR6FR1jjWRHXoEr5">
        <footer class="review-cite">
          <a
            href="https://www.google.com/maps/contrib/111107452333087508279/reviews"
            class="gravatar-link"
            aria-label="Go to reviewer's Profile on Google"
            target="_blank"
            rel="noreferrer"
            ><img
              src="./images/caitlinHarrison.jpg"
              alt="Caitlin Harrison"
              width="41"
              height="41"
              class="gravatar"
              loading="lazy"
          /></a>
          <cite>Caitlin Harrison</cite>
          <p class="review-date">
            <a
              href="https://maps.app.goo.gl/9qR6FR1jjWRHXoEr5"
              aria-label="Go to original review on Google"
              target="_blank"
              rel="noreferrer"
              >April 20, 2024</a
            >
          </p>
        </footer>
        <a
          href="https://maps.app.goo.gl/9qR6FR1jjWRHXoEr5"
          class="g-logo-link"
          target="_blank"
          aria-label="Go to original review on Google"
          rel="noreferrer"
          ><img
            class="g-logo"
            src="./images/googleLogo.png"
            alt="Google Logo"
            width="23"
            height="23"
        /></a>
        <p class="quote">
          We had so much fun here! We got a private lesson package to prepare
          for our wedding and we were so lucky... We can’t recommend going here
          for dance lessons enough, ... The whole staff was friendly and warm
          and made dancing feel easy— even for us, which is saying something 😉
          (They) always made dance feel approachable, ... (they) made our
          wedding prep process so special and enjoyable! We will be back for
          future date night 🤗 Thank you!!
        </p>
      </blockquote>
    </li>
  </ul>
</section>
