<figure class="ig-profile sb-profile afade">
  <a href="https://www.instagram.com/arthurmurraypghwest/">
    <img
      class="profile-pic"
      src="./images/AMPghWestProfile.jpg"
      alt="Arthur Murray Pittsburgh West Profile Picture"
      width="50"
      height="50"
      loading="lazy"
    />
    <i class="fab fa-instagram"></i>
    <h3>arthurmurraypghwest</h3>
    <p>🕺🏻 Ballroom | 💃🏻 Latin Styles | 🥂 Date Night | 💍 Weddings</p>
  </a>
</figure>
<div class="instafeed instafeed1" id="sbInstaFeed"></div>
