<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "image": [
      "https://arthurmurraypittsburghwest.com/images/AMLogo.svg",
      "https://arthurmurraypittsburghwest.com/images/CouplesDanceLessons.jpg"
    ],
    "logo": "https://arthurmurraypittsburghwest.com/images/AMLogo.svg",
    "name": "Arthur Murray Dance Studio Pittsburgh West",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "12505 W Chinden Blvd Suite P ",
      "addressLocality": "McKees Rocks",
      "addressRegion": "PA",
      "postalCode": "15136",
      "addressCountry": "US"
    },
    "telephone": "+14124169900",
    "location": {
      "@type": "Place",
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 40.449239816744914,
        "longitude": -80.12382955767201
      }
    },
    "sameAs": [
      "https://www.instagram.com/arthurmurraypghwest/",
      "https://www.facebook.com/ArthurMurrayPittsburghWest/"
    ],
    "areaServed": [
      {
        "@type": "City",
        "name": ["Pittsburgh West", "McKees Rocks", "Coraopolis", "Edgeworth", "Garden Tree", "Kennedy Township", "Robinson Township", "Rosslyn Farms", "Sewickley"]
      }
    ],
    "priceRange": "$$$",
    "openingHoursSpecification": {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
      "opens": "12:00",
      "closes": "21:00"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "5.0",
      "reviewCount": "28"
    },
    "review": [
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Kirby Sigler"
        },
        "reviewBody": "My boyfriend and I have had 5 lessons so far ... and we could not have
        imagined a better experience. ...",
        "datePublished": "2024-04-30",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Lisa Gasperoni"
        },
        "reviewBody": "I can’t say enough about Arthur Murray Dance Studio and staff.
        Extraordinary dance instructors that not only teach ANYONE how to
        dance, ...",
        "datePublished": "2024-02-21",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      },
      {
        "@type": "Review",
        "author": {
          "@type": "Person",
          "name": "Kristen Arness"
        },
        "reviewBody": "Very happy with our dance lessons at Arthur Murray for our first dance
        at our wedding!",
        "datePublished": "2024-04-20",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "5",
          "worstRating": "1",
          "bestRating": "5"
        }
      }
    ],
    "description": "Arthur Murray Pittsburgh West specializes in teaching beginner dancers everything they need to know to survive on the dance floor. Our interrelated system makes learning to dance to any style of music fun, quick, and easy!",
    "url": "https://arthurmurraypittsburghwest.com/",
    "email": "arthurmurraypghwest@gmail.com"
  }
</script>
